@mixin font($size, $height, $weight: normal, $color: $font-color) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}


@mixin box() {
  margin: 0 auto;
  padding: 0 30px;
  width: 260px;

  @media (min-width: $tablet) {
    padding: 0 50px;
    width: 668px;
  }

  @media (min-width: 1150px) {
    width: 1050px;
  }
}


@mixin border-bottom() {
  border-bottom: 1px solid #ececec;
}
