body {
  font-family: "Open Sans", "Arial", sans-serif;
  @include font(15px, 24px, normal);
  background-color: #fff;
}

.wave-wrap {
  padding-top: 30px;
  padding-bottom: 50px;
  background-image: url("../img/bg-zigzag-line.svg"), url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x, repeat-x;
  background-position: top, bottom;
  background-size: auto 6px, auto 6px;
}

@media (min-width: $tablet) {

  .wave-wrap {
    padding-top: 62px;
    padding-bottom: 15px;
    background-size: auto 15px, auto 15px;
  }
}

@media (min-width: $desktop) {

  .wave-wrap {
    padding-top: 75px;
    padding-bottom: 20px;
    background-size: auto 20px, auto 20px;
  }
}
