.add-cart {
  padding-top: 35px;
  padding-bottom: 45px;
  text-align: center;
}

.add-cart__title {
  padding: 5px 55px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.add-cart__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.add-cart__radio {
  display: none;

  + span {
    display: block;
    padding: 18px 10px;
    width: 58px;
    text-align: center;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: #444;
    border: 2px solid #ececec;
    cursor: pointer;
  }

  &:checked +span {
    border-color: #63d1bb;
  }
}

.add-cart__btn {
  width: 100%;
  border: none;
  background-color: #63d1bb;
}
