.contacts {
  margin-top: 44px;
}

.contacts__title {
  @include font(18px, 30px, bold, #000);
}

.contacts__table {
  margin-bottom: 40px;
  display: block;
}

.contacts__table-row {

}

.contacts__table-col {
  padding: 15px 0;
  background-color: bisque;

  &:nth-child(1) {
    width: 65px;
  }

  &--adress {
    padding-right: 40px;
  }
}

.contacts__email {
  color: $font-color;
  text-decoration: none;
  border-bottom: 1px solid $color-green;
}

.contacts__map {
  height: 457px;
  width: 320px;
  background-color: $bg-grey;
  background-image: url(../img/map-mobile@1x.jpg);
  background-repeat: no-repeat;
}

.contacts__btn {
  margin: 39px auto;
}

@media (min-width: $tablet) {
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__table tbody {
    display: flex;
    width: 668px;
  }

  .contacts__table-row {
    display: flex;

    &:last-child {
      margin-left: auto;
    }
  }

  .contacts__table-col {
    padding: 0;
    width: 230px;
  }

  .contacts__map {
    width: auto;
  }

  .contacts__btn {
    width: 230px;
  }
}


@media (min-width: $desktop) {

  .contacts {
    display: flex;
//    align-items: flex-start;
//    align-content: flex-start;
//    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 668px;
    flex-wrap: wrap;
//    flex-shrink: 0;
    margin-bottom: 40px;
  }

  .contacts__title {
    width: 300px;
//    padding-left: 100px;
//    margin-top: auto;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__table {
//    margin-top: auto;
//    margin-bottom: auto;
    padding: 0;
    display: block;
    width: 300px;
  }

  .contacts__table tbody {
    display: block;
//    width: 300px;
  }

  .contacts__map {
    order: -1;
//    margin-top: auto;
//    margin-bottom: auto;
    width: 525px;
    height: 460px;
  }

  .contacts__btn {
    width: 300px;
//    margin-top: auto;
//    min-height: 55px;
  }
}




































































