.contacts {
  padding-top: 22px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: top;
  background-size: auto 6px;
}

.contacts__data-wrapper {
  @include box();
}

.contacts__title {
  @include font(18px, 30px, bold, #000);
}

.contacts__table {
  margin-bottom: 32px;
  display: block;
}

.contacts__table-row {
  display: flex;
  padding-bottom: 15px;

  &:last-child {
   margin-left: auto;
  }
}

.contacts__table-col {
  padding: 10px 0;

  &:nth-child(1) {
    width: 65px;
    padding-right: 10px;
  }
}

.contacts__email {
  color: $font-color;
  text-decoration: none;
  border-bottom: 1px solid $color-green;

  &:hover {
    color: $color-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  height: 457px;
  width: auto;
  background-color: $bg-grey;
  background-image: url(../img/map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

iframe {
  width: 100%;
  height: 100%;
}

.contacts__btn {
  margin: 37px auto;
  width: 260px;
}

@media (min-resolution: 144dpi),
       (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url(../img/map-mobile@2x.jpg);
      background-size: 260px 457px;
    }
}

@media (min-width: $tablet) {
  .contacts {
    margin-top: 62px;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-size: 768px 15px;
  }

  .contacts__title {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 8px;
    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      right: 2px;
      width: 70px;
      height: 82px;
      background-image: url(../img/icon-flag.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right top;
    }
  }

  .contacts__table {
    margin-bottom: 40px;
  }

  .contacts__table tbody {
    display: flex;
    width: 668px;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__table-row:nth-child(2) {
    margin-left: 30px;
  }

  .contacts__table-col {
    padding: 0;
    width: 230px;

    br:nth-child(2) {
      display: none;
    }
  }

  .contacts__map {
    background-color: $bg-grey;
    background-image: url(../img/map-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .contacts__btn {
    margin: 55px auto;
    width: 230px;
  }
}

@media (min-width: $tablet) and (min-resolution: 144dpi),
       (min-width: $tablet) and (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url(../img/map-tablet@2x.jpg);
      background-size: 768px 457px;
    }
}

@media (min-width: $desktop) {

  .contacts {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 105px;
    width: 1150px;
    background-size: auto 20px;
  }

  .contacts__data-wrapper {
    margin: 0;
    padding-top: 112px;
    padding-left: 170px;
    width: 300px;
  }

  .contacts__title {
    margin-bottom: 40px;
    width: 315px;
    font-size: 53px;
    line-height: 57px;

    &::after {
      bottom: -15px;
      left: -135px;
    }
  }

  .contacts__table tbody {
    display: block;
    padding-bottom: 60px;
    width: 315px;
  }

  .contacts__table-row:nth-child(2) {
    margin-top: 15px;
    margin-left: 0;
  }

  .contacts__map {
    margin: 0;
    margin-right: auto;
    margin-top: 92px;
    width: 525px;
    height: 460px;
    background-image: url(../img/map-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .contacts__btn {
    position: absolute;
    bottom: -55px;
    left: 225px;
  }
}

@media (min-width: $desktop) and (min-resolution: 144dpi),
       (min-width: $desktop) and (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url(../img/map-desktop@2x.jpg);
      background-size: 525px 460px;
    }
}
