.directory-catalog {
  margin-bottom: 25px;
  background-color: #fafafa;
}

.directory-catalog__list {
  padding: 0;
  margin: 0;
}

.directory-catalog__item {
  padding: 30px 30px;
  padding-right: 100px;
  list-style: none;

  a {
    display: block;
    width: 175px;
    @include font(19px, 24px, bold, #fff);
    text-decoration: none;
  }

  &--interior {
    background-color: $color-green;
  }

  &--interior:hover {
    background-color: #59d5bc;
  }

  &--toys {
    background-color: #56c3b2;
  }

  &--toys:hover {
    background-color: #46c1ae;
  }

  a:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet) {
  .directory-catalog__list {
    display: flex;
    padding: 0 50px;
  }

  .directory-catalog__item {
    flex-grow: 1;

    a {
      font-size: 20px;
      line-height: 30px;
    }
  }
}










































