.features {
  margin-top: 30px;
  margin-bottom: 50px;
}

.features__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.features__item {
  padding-top: 60px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}
