.features {
  margin-top: 30px;
  margin-bottom: 50px;
  @include box();
}

.features__title {
  @include font(25px, 30px, bold, #000);
}

.features__item {
  padding-top: 60px;
  @include font(17px, 20px, bold, #000);
}


@media (min-width: $tablet) {
  .features {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .features__title {
    width: 100%;
    font-size: 43px;
    line-height: 50px;
  }

  .features__item {
    margin-right: 24px;
    width: 310px;
    font-size: 20px;
    line-height: 22px;

    &--knit {
      order: 1;
    }

    &--style {
      order: 2;
    }

    &--manufacturer {
      order: 3;
    }

    &--likes {
      order: 4;
    }

    &--present {
      order: 5;
    }
  }
}

@media (min-width: $desktop) {
  .features {
    padding: 0 225px;
    width: 700px;
  }

  .features__title {
    font-size: 53px;
    line-height: 57px;
  }

  .features__item {
    margin-right: 40px;
  }
}

























