.features {
  @include box();
}

.features__title {
  margin-top: 5px;
  margin-bottom: 30px;
  @include font(25px, 30px, bold, #000);
}

.features__item {
  padding-top: 36px;
  padding-bottom: 13px;
  @include font(17px, 20px, bold, #000);

  &--ecology {
    background-image: url(../img/icon-feature-1.svg);
    background-repeat: no-repeat;
    background-size: 32px 37px;
  }

  &--knit {
    background-image: url(../img/icon-feature-2.svg);
    background-repeat: no-repeat;
    background-size: 34px 34px;
  }

  &--style {
    background-image: url(../img/icon-feature-3.svg);
    background-repeat: no-repeat;
    background-size: 47px 27px;
  }

  &--manufacturer {
    background-image: url(../img/icon-feature-4.svg);
    background-repeat: no-repeat;
    background-size: 54px 23px;
  }

  &--likes {
    background-image: url(../img/icon-feature-5.svg);
    background-repeat: no-repeat;
    background-size: 33px 28px;
  }

  &--present {
    background-image: url(../img/icon-feature-6.svg);
    background-repeat: no-repeat;
    background-size: 33px 33px;
  }

}


@media (min-width: $tablet) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .features__title {
    margin-bottom: 48px;
    width: 100%;
    font-size: 43px;
    line-height: 50px;
  }

  .features__item {
    margin-right: 24px;
    margin-bottom: 22px;
    width: 310px;
    font-size: 20px;
    line-height: 22px;

    &--knit {
      order: 1;
    }

    &--style {
      order: 2;
    }

    &--manufacturer {
      order: 3;
    }

    &--likes {
      order: 4;
    }

    &--present {
      order: 5;
    }
  }
}

@media (min-width: $desktop) {
  .features {
    padding: 0 225px;
    width: 700px;
  }

  .features__title {
    font-size: 53px;
    line-height: 57px;
  }

  .features__item {
    margin-right: 40px;
  }
}

























