.logo {
  padding: 22px 10px;
  margin: 0 auto;
  display: block;
  width: 120px;
  line-height: 0;
  text-align: center;
}

@media (min-width: $tablet) {

  .logo {
    order: -2;
    margin-left: 0;
    margin-right: auto;
  }
}
