.main-footer {
  background-color: $bg-grey;
}

.main-footer__logo {
  display: none;
}

.main-footer__copyright {
  display: block;
  padding: 20px 50px;
  @include font(19px, 20px, bold, #000);
  text-decoration: none;
}

.main-footer__social-links {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  @include border-bottom();
}

@media (min-width: $tablet) {
  .main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo {
    display: block;
  }

  .main-footer__social-links {
    margin-left: auto;
  }

}


























