.main-nav {
  display: none;
  width: 320px;
  position: absolute;
  top: 80px;
  left: 0;
}

.main-nav__list {
  padding: 0;
  margin: 0;
}

.main-nav__item {
  list-style: none;
  @include border-bottom();
  padding: 30px 10px;
  padding-left: 75px;
  background-color: #fff;

  a {
    @include font(17px, 24px, bold, #000);
    text-decoration: none;
  }
}
