.main-nav {
  display: none;
  width: 320px;
  position: relative;
//  top: 80px;
  left: 0;
}

.main-nav__list {
  padding: 0;
  margin: 0;
}

.main-nav__item {
  list-style: none;
  @include border-bottom();
  padding: 30px 10px;
  padding-left: 75px;
  background-color: #cec;

  a {
    @include font(17px, 24px, bold, #000);
    text-decoration: none;
  }

  a[href]:hover {
    opacity: 0.6;
  }

  a[href]:active {
    opacity: 0.3;
  }
}

.main-nav__item:nth-child(n+3) {
  display: none;
}

@media (min-width: $tablet) {

  .main-nav {
    display: flex;
    position: relative;
    z-index: 2;
    top: 0;
    flex-wrap: wrap;
  }

  .main-nav__list {
    display: flex;
    width: 350px;
  }

  .main-nav__item {
    padding: 22px 0;
    width: 150px;

    a {
      font-size: 15px;
    }
  }

}




































