.order-form {
  @include box();
}

.order-form__desc {
  @include font(13px, 24px);
  margin-bottom: 10px;
}

.order-form__block {
  position: relative;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 7px;
  border: none;
  border-top: 1px solid $color-green;
}

.order-form__caption {
  position: relative;
  z-index: 3;
  padding: 10px 20px;
  padding-left: 0;
  margin-bottom: 12px;
  @include font(17px, 17px, bold, $color-green);
  background-color: #fff;
  text-transform: uppercase;

  &--phone,
  &--email {
    margin-bottom: 0;
  }
}

.order-form__label {
  display: block;
  margin: 0;
  @include font(17px, 18px, bold, #000);

  &--color {
    margin-top: 0;
    margin-bottom: 19px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--name {
    padding-top: 5px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.order-form__filter {
  display: none;
}

.order-form__filter {

  & + span {
    position: relative;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 62px;
    width: 200px;
    cursor: pointer;
  }

  & + span::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 2px solid #444;
    transform: translateY(-50%);
  }

  &--radio + span::before {
    border-radius: 50%;
  }

  & + span:hover::before {
    border-color: $color-green;
  }

  & + span:active::before {
    opacity: 0.3;
    border-color: #444;
  }

  &--radio:checked + span::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 12px;
    width: 15px;
    height: 15px;
    background-color: $color-green;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &--checkbox:checked + span::after {
    content: "";
    position: absolute;
    display: block;
    top: 12px;
    left: 8px;
    width: 20px;
    height: 8px;
    background-color: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(-45deg);
  }
}

.order-form__input {
  box-sizing: border-box;
  padding: 16px 5px;
  padding-left: 0;
  width: 260px;
  @include font(17px, 18px);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;

  &--phone,
  &--email {
    padding: 14px 0;
  }

  &:hover {
    border-color: $color-green;
  }

  &:focus {
    border-color: $color-green;
  }

  &--textarea {
    padding-left: 15px;
    border: 2px solid #000;
  }
}

::-webkit-input-placeholder{
	color: rgba(68, 68, 68, 0.3);
}

::-moz-placeholder{
	color: rgba(68, 68, 68, 0.3);
}

:-moz-placeholder{
	color: rgba(68, 68, 68, 0.3);
}

:-ms-input-placeholder {
	color: rgba(68, 68, 68, 0.3);
}

.order-form__conditions {
  margin-top: 0;
  margin-bottom: 27px;
  @include font(14px, 16px);
}

.order-form__btn {
  margin-bottom: 55px;
  background-color: #fff;
  width: 100%;
}


@media (min-width: $tablet) {

  .order-form {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .order-form__desc {
    @include box();
    @include font(17px, 30px);
  }

  .order-form__block-wrap {
    background-color: $bg-grey;
  }

  .order-form__block {
    @include box();
    border: none;
  }

  .order-form__label-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .order-form__caption {

    float: left;
    display: inline-block;
    @include clearfix();
    margin-left: 50px;
    padding-top: 30px;

    width: 167px;
    background-color: transparent;
  }

  .order-form__label {
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 485px;
    font-size: 19px;

    &--color {
      width: 200px;
    }
  }

  .order-form__input {
    margin-left: 20px;
    width: 100%;
    font-size: 19px;

    &--phone,
    &--email,
    &--textarea {
      margin: 0;
    }
  }

  .order-form__btn-wrap {
    @include box();
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
  }

  .order-form__conditions {
    margin-left: auto;
    @include font(17px, 30px);
    width: 334px;
  }

  .order-form__btn {
    width: 230px;
  }
}

@media (min-width: $desktop) {

  .order-form__desc{
    width: 700px;
  }

  .order-form__caption {
    width: 175px;
    text-align: center;
  }

  .order-form__label {
    width: 700px;

    &--color {
      width: 220px;
    }
  }

  .order-form__btn-wrap {
    width: 700px;
  }
}
