.page-title {

  h1 {
    margin: 0 auto;
    padding-top: 70px;
    width: 260px;
    @include font(27px, 30px, bold, #000);
    text-align: center;
  }

  &--main {
    min-height: 280px;
    background-color: #fafafa;
    background-image: url(../img/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 575px auto;
  }

  &--inner {
    margin-bottom: 22px;
    min-height: 175px;
    background-color: $bg-grey;
  }
}

@media (min-width: 260px) and (min-resolution: 144dpi),
  (min-width: 260px) and (min-resolution: 1.5dppx) {
    .page-title--main {
      background-image: url(../img/hero-mobile@2x.jpg);
      background-size: 575px auto;
    }
}

@media (min-width: $tablet) {
  .page-title {

    h1 {
      padding: 0;
      width: 668px;
      font-size: 43px;
      line-height: 50px;
    }

    &--main {
      padding-top: 95px;
      min-height: 473px;
      background-size: auto 100% ;
    }

    &--inner {
      padding-top: 34px;

      margin-bottom: 63px;
      min-height: 140px;
      background-color: $bg-grey;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: bottom;
      background-size: auto 22px;
    }
  }
}

@media (min-width: $desktop) {
  .page-title {

    h1 {
      font-size: 53px;
      line-height: 57px;
    }

    &--inner {
      padding-top: 36px;
      margin-bottom: 103px;
      min-height: 180px;
      background-size: auto 35px;
    }
  }
}


















