.popular {
  margin-bottom: 33px;
}

.popular__title-wrap {
  @include box();
}

.popular__title {
  margin-bottom: 5px;
  @include font(25px, 30px, bold, #000);
}

.popular__subtitle {
  @include font(17px, 20px, bold, $color-green);
  text-transform: uppercase;
}

.popular__content-wrap {
  @include box();
}

.popular__text {
  margin-top: 20px;
}

.popular__table {
  margin: 20px auto 28px;
  width: 100%;
  border-collapse: collapse;
}

.popular__table-row {
  @include border-bottom();
}

.popular__table-col {
  padding: 7px 0;

  &:first-child{
    padding-right: 14px;
  }
}

.popular__img {
  margin-bottom: 10px;
  width: 260px;
  height: 315px;
}

.popular__price {
  margin: 0;
  margin-bottom: 14px;
  padding: 10px 10px;
  text-align: center;
  @include font(17px, 24px, bold);
}


@media (min-width: $tablet) {

  .popular {
    margin-bottom: 40px;
  }

  .popular__title-wrap {
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 50px;
  }

  .popular__title {
    margin: 0;
    width: 508px;
    font-size: 43px;
    line-height: 50px;
  }

  .popular__subtitle {
    margin-left: auto;
    padding-top: 5px;
    width: 125px;
    line-height: 17px;
    text-align: center;
  }

  .popular__img {
    float: right;
    padding-top: 8px;
    width: 333px;
    height: 404px;
  }

  .popular__content-wrap {
    width: 668px;
    @include clearfix();
  }

  .popular__content {
    display: inline-block;
    margin-bottom: 24px;
    width: 290px;
    vertical-align: top;
  }

  .popular__text {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .popular__table {
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .popular__table-col {
    padding: 8px 0;

    &:first-child{
      padding-right: 0px;
    }
  }

  .popular__price-wrap {
    display: inline-block;
    width: 290px;
    vertical-align: bottom;
  }

  .popular__price {
    margin-bottom: 24px;
    font-size: 20px;
  }

  .popular__btn {
    width: 290px;
  }
}

@media (min-width: $desktop) {

  .popular {
    position: relative;
    margin-bottom: 10px;
  }

  .popular__title-wrap {
    position: absolute;
    z-index: 2;
    margin-top: 0;
    padding: 0;
    top: 62px;
    left: 0px;
    right: 0;
  }

  .popular__subtitle {
    order: -1;
    margin: 0;
    padding: 10px 25px;
  }

  .popular__title {
    padding: 40px 0;
    width: 595px;
    font-size: 53px;
    line-height: 57px;
  }

  .popular__content-wrap {
    padding: 50px 0 55px 175px;
    width: 875px;

  }

  .popular__content {
    margin-top: 158px;
  }

  .popular__img {
    z-index: 1;
    padding: 0;
    width: 525px;
    height: 637px;
  }

  .popular__text {
    margin-bottom: 48px;
  }

  .popular__price-wrap {
    margin-top: 50px;
  }

  .popular__price {
    margin-bottom: 25px;
  }

  .popular__btn {
    margin-bottom: 0px;
  }

}





































