.catalog-products {
  @include box();
  margin-top: 30px;
}

.product-item__content-wrap {
  margin-bottom: 30px;
  padding: 26px 27px;
  box-sizing: border-box;
  border: 1px solid $border-color;

  &:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
  }
}

.product-item__img {
  display: block;
  background-color: $bg-grey;
  line-height: 0;
}

.product-item__caption {
  @include font(17px, 24px, bold, #000);
  text-decoration: none;

  h2 {
    font: inherit;
    margin: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-item__spec {
  @include font(13px, 30px);
  margin-top: 5px;
  margin-bottom: 20px;
}

.product-item__price-wrap {
  display: flex;
  padding-top: 20px;
  border-top: 1px solid $border-color;
}

.product-item__price {
  @include font(15px, 24px, bold, #000);
}

.product-item__cart {
  margin-left: auto;
  font-size: 0;
  display: block;
  height: 25px;

  svg {
    fill: #d3d2d2;
  }

  &:hover svg {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet) {
  .catalog-products {
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .product-item {
    display: flex;
    margin-bottom: 55px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .product-item__content-wrap {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 334px;
  }

  .product-item__caption {
    font-size: 20px;
  }

  .product-item__spec {
    font-size: 15px;
  }

  .product-item__img {
    width: 334px;
    height: 334px;
  }

  .product-item__price-wrap {
    margin-top: auto;
  }

  .product-item__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop) {

  .catalog-products {
    margin-bottom: 0px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
  }

  .product-item {
    display: block;
    margin-right: auto;
    width: 315px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .product-item__img {
    width: 315px;
    height: 462px;
  }

  .product-item__content-wrap {
    width: 315px;
    min-height: 200px;
  }

  .product-item__spec {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .product-item__price-wrap {
    margin-top: auto;
  }
}



















