.product-item__content-wrap {
  margin-top: -7px;
  margin-bottom: 30px;
  padding: 32px 27px;
  border: 1px solid #ececec;
}

.product-item__caption {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;

  h2 {
    font: inherit;
    margin: 0;
  }
}

.product-item__spec {
  font-size: 13px;
  line-height: 30px;
  color: #444;
}

.product-item__price-wrap {
  display: flex;
  padding-top: 20px;
  border-top: 1px solid #ececec;
}

.product-item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
}

.product-item__cart {
  margin-left: auto;
  font-size: 0;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #ececec;
}
