.reviews {
  @include box();
}

.reviews__title {
  @include font(25px, 30px, bold, #000);
}

.reviews__item {
  margin: 0;
  margin-bottom: 30px;
  line-height: 30px;
}

.reviews__author {
  @include font(17px, 24px, bold, #000);
  font-style: normal;
}

.reviews__author-email {
  margin: 0;
  @include font(17px, 30px);
}

.reviews__control {
  margin-bottom: 38px;
  display: inline-block;
  vertical-align: top;
  width: 128px;
  height: 50px;
  font-size: 0;
  background-color: #fff;
  border: 1px solid #ececec;
}


@media (min-width: $tablet) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    padding-top: 64px;
    padding-bottom: 54px;
    @include font(17px, 30px);
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
  }

  .reviews__title {
    order: -2;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__btn {
    order: -1;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 175px;
  }

  .reviews__slider {
    display: flex;
  }

  .reviews__item {
    width: 668px;
  }

  .reviews__author {
    display: block;
    width: 430px;
  }

  .reviews__control {
    margin-top: auto;
    width: 80px;

    &--prev {
      margin-left: -80px;
    }

    &--next {
      margin-left: -160px;
    }
  }
}

@media (min-width: $desktop) {

  .reviews__title {
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__slider {
    padding-left: 175px;
    width: 875px;
  }

  .reviews__item {
    padding-right: 100px;
    width: 775px;
  }
}



































