.reviews__title {
  @include font(25px, 30px, bold, #000);
}

.reviews__item {
  margin: 0;
  margin-bottom: 30px;
  line-height: 30px;
}

.reviews__author {
  @include font(17px, 24px, bold, #000);
  font-style: normal;
}

.reviews__author-email {
  margin: 0;
  @include font(17px, 30px);
}

.reviews__control {
  margin-bottom: 38px;
  display: inline-block;
  vertical-align: top;
  width: 128px;
  height: 50px;
  font-size: 0;
  background-color: #fff;
  border: 1px solid #ececec;
}


@media (min-width: $tablet) {
  .reviews {
    position: relative;
    padding-top: 64px;
    padding-bottom: 54px;
    @include font(17px, 30px);
    background-image: url(../../img/review@1x.jpg);
    background-repeat: no-repeat;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__control {
    position: absolute;
    width: 80px;
    right: 50px;
    bottom: 54px;

    &--prev {
      right: 140px;
    }
  }

  .reviews__btn {
    position: absolute;
    width: 175px;
    top: 94px;
    right: 50px;
  }
}

@media (min-width: $desktop) {
  .reviews {
    padding-left: 175px;
    padding-right: 200px;
    width: 775px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
}



































