.reviews {
  @include box();
}

.reviews__title {
  margin: 25px 0;
  @include font(25px, 30px, bold, #000);
}

.reviews__item {
  margin: 0;
  line-height: 30px;
}

.reviews__author {
  margin: 25px 0 29px;

  cite{
    @include font(17px, 24px, bold, #000);
    font-style: normal;
  }

  .reviews__author-email {
    margin: 0;
    @include font(17px, 30px);
  }
}

.reviews__control {
  display: inline-block;
  margin-bottom: 38px;
  vertical-align: top;
  width: 128px;
  height: 50px;
  font-size: 0;
  background-color: #fff;
  border: 1px solid #ececec;

  &:hover {
    fill: #666;
  }

  &:active {
    fill: #b2b2b2;
  }

}


@media (min-width: $tablet) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    @include box();
    margin-bottom: 58px;
    @include font(17px, 30px);
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__title {
    order: -2;
    padding-top: 55px;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__btn {
    order: -1;
    margin-left: auto;
    margin-bottom: 20px;
    align-self: flex-end;
    width: 175px;
  }

  .reviews__slider {
    display: flex;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 668px;
  }

  .reviews__bottom-wrap {
    display: flex;
    margin: 30px 0;
    align-items: center;
  }

  .reviews__author {
    display: block;
    width: 334px;
  }

  .reviews__control{
    margin: 0;
    width: 86px;
    border: none;

    &--prev{
      margin-left: auto;
    }
  }
}

@media (min-width: $tablet) and (min-resolution: 144dpi),
  (min-width: $tablet) and (min-resolution: 1.5dppx) {
    .reviews {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
    }
}

@media (min-width: $desktop) {

  .reviews {
    margin-bottom: 70px;
    padding-bottom: 60px;
    background-position: 50px center;
  }

  .reviews__title {
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__slider {
    padding-left: 175px;
    width: 875px;
  }

  .reviews__text {
    padding-right: 100px;
    margin-bottom: 14px;
  }

  .reviews__bottom-wrap {
    display: flex;
    margin: 0;
    align-items: center;
  }
}



































