.social-link {
  display: block;
  padding: 10px 10px;
  width: 40px;
  text-align: center;
  font-size: 0;

  &--fb {
    padding-top: 5px;
  }

  &:hover svg {
    fill: #63d1bb;
  }

  &:active svg {
    opacity: 0.3;
  }
}

